body {
    padding: 0 60px;
}

.jumbotronn {
    margin: 0 auto;
    width:70%;
    background-image: url("../images/jumbotron.png");
}

.navbar {
    width:100%;
}

.jumbotron .container{
    background-color: lightblue;
    padding: 20px;
    width: 33%;
    text-align: center;
    border-radius: 10px;
}

.container {
    margin: auto;
}

.dashboard {
    background-color: lightblue;
    padding: 10px;
    margin: auto;
}

.dashboard-col {
    padding: 10px;
    margin: 10px;
    background-color: azure;
}

.centered {
    margin: auto;
}

.text-centered{
    text-align: center;
}

.form-group *{
    position: relative;
    padding:2px;
    margin: 10px auto;
}